body {
    background-color: hsl(186, 14%, 43%);
    font-family: 'Space Mono', monospace;
}

p {
    font-size: 18px;
    text-align: center;
    padding: .8rem;
}

input {
    border-radius: 10px;
    padding: .5rem;
    width: 250px;
    height: 30px;
}

select {
    width: 270px;
    height: 50px;
    border-radius: 10px;
}

#container{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 2rem;
  
}

.titulo__texto {
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}

#total-conta {
    background: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#calculator {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   width: 50%;
   margin: auto;
   border-radius: 20px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

}

#numero-pessoas {
    background: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    text-align: center;
     
}

::placeholder {
   padding-left: 15px;
   font-size: 16px;
}

#calcular {
    margin-top: 1rem;
    border-radius: 10px;
    width: 270px;
    padding: 1rem;
    background-color: hsl(183, 100%, 15%);
    color: white;
}

#calcular:hover {
    cursor: pointer;
    
}

#valor-por-pessoa {
    font-size: 24px;
}

#valor-calculado {
    padding-top: 1rem;
    background-color: cadetblue;
    margin: 1rem;
    width: 270px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width:470px) {
   
    #container {
        padding-top: 2rem;
    }

   #calculator {
    width: 90%;
   }
}

@media screen and (max-width:768px) {

    #container {
        padding-top: 2rem;
    }   
}